
Sudoku/Sudoku.ConsoleApp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Sudoku/Sudoku.ConsoleApp/obj/Debug/Sudoku.ConsoleApp.csproj.CoreCompileInputs.cache
Sudoku/Sudoku.ConsoleApp/obj/Debug/Sudoku.ConsoleApp.csproj.FileListAbsolute.txt
Sudoku/Sudoku.ConsoleApp/obj/Debug/Sudoku.ConsoleApp.csprojAssemblyReference.cache
Sudoku/Sudoku.ConsoleApp/obj/Debug/Sudoku.ConsoleApp.exe
Sudoku/Sudoku.ConsoleApp/obj/Debug/Sudoku.ConsoleApp.pdb
Sudoku/.vs/Sudoku/v16/.suo
Sudoku/Sudoku.ConsoleApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
